/* Coolors Exported Palette - coolors.co/022b3a-1f7a8c-bfdbf7-e1e5f2-ffffff */

/* HSL */
$color1: hsla(196%, 93%, 12%, 1);
$color2: hsla(190%, 64%, 34%, 1);
$color3: hsla(210%, 78%, 86%, 1);
$color4: hsla(226%, 40%, 92%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(2, 43, 58, 1);
$color2: rgba(31, 122, 140, 1);
$color3: rgba(191, 219, 247, 1);
$color4: rgba(225, 229, 242, 1);
$color5: rgba(255, 255, 255, 1);